<!-- tabs.ejs -->

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-link<%= activeTab === 'get_medications' ? ' active' : '' %>" id="nav-get-medications-tab" data-bs-toggle="tab" href="/get_medications" role="tab" aria-controls="nav-get-medications" aria-selected="<%= activeTab === 'get_medications' %>">All Medications</a>
      <a class="nav-link<%= activeTab === 'add_medication' ? ' active' : '' %>" id="nav-add-medication-tab" data-bs-toggle="tab" href="/add_medication" role="tab" aria-controls="nav-add-medication" aria-selected="<%= activeTab === 'add_medication' %>">Add Prescription Medication</a>
      <a class="nav-link<%= activeTab === 'add_essentials_medication' ? ' active' : '' %>" id="nav-all-medications-tab" data-bs-toggle="tab" href="/add_essentials_medication" role="tab" aria-controls="nav-all-medications" aria-selected="<%= activeTab === 'add_essentials_medication' %>">Add Essentials Medications</a>
      <!-- <a class="nav-link<%= activeTab === 'all_medications' ? ' active' : '' %>" id="nav-all-medications-tab" data-bs-toggle="tab" href="/add_essential_medications" role="tab" aria-controls="nav-all-medications" aria-selected="<%= activeTab === 'all_medications' %>">Add Essentials Medications</a> -->
    </div>
  </nav>
  